{% extends 'master.html' %}

   {% block title %}
Login
      {% endblock %}

      <!-- This is the link rakhney thau -->
   {% load static %}
      {% block extrahead %}
      <link rel="stylesheet" href="{% static 'css/loginstyle.css' %} ">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">

      
   


      {% endblock %}

{% block body %}
    <h2>Order Confirmation</h2>
    <p>Your order has been placed successfully. Thank you for shopping with us!</p>
    <p>Order ID: {{ order.id }}</p>
{% endblock %}

{% block js %}

 




{% endblock %}